<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IAPDescriptionText</key>
	<string>Upgrade to the full version of NakedTracks. When you upgrade to the full version you will get full access to the entire Naked Tracks library including instant access to any new tracks added in the future.</string>
</dict>
</plist>
